* {
    margin: 0;
    padding: 0;
}


div.canvas {
    width : 100%;
    height : 1080;
    position: absolute;
}

#canvas {
    width : 100%;
}
html, body {
    width : 100%;
    height : 100%;
    margin : 0;
    background-color: #FFFFFF;
    color:chartreuse;
}

div.console {
    width:20%;
    height:100%;
    float:right;
    background-color: #000000;
    color:chartreuse;
    font-size: 20;
}

#inputField{
    width : 90%;
    background-color: #000000;
    color:chartreuse;
    font-size: 20;
    border: none;
    outline: none;
    /* size: 90%; */
}