<!DOCTYPE HTML>
<html>
<meta charset="UTF-8" name="viewport" content="width=device-width,user-scalable=no">
<title>Ninon ZZhang</title>
<link rel="stylesheet" href="style.css" />


<body>
<div class="canvas"><canvas id = "canvas"></canvas></div>
<div class="console" > <div id="consolebody" >Initializing Game</div> <div>><input id = "inputField" type="text" id="name" name="name" autofocus></div></div>
  
<script src="/socket.io/socket.io.js"></script>
<script src="client.js"></script>
<script src="./render/spine-webgl.min.js"></script>
<script src="./render/shader.js"></script>
<script src="./render/sprite-webgl.js"></script>
<script src="./render/spineLoad.js"></script>
<script src="./render/font-webgl.js"></script>
<script src="./console_utils.js"></script>
<script src="./gameMain.js"></script>

<script>

</script>
</body>

</html>