<!DOCTYPE HTML>
<html>
<meta charset="UTF-8" name="viewport" content="width=device-width,user-scalable=no">
<title>Ninon ZZhang</title>
<link rel="stylesheet" href="style.css" />


<body>
<div class="canvas"><canvas id = "canvas"></canvas></div>
<div class="console" > <div id="consolebody" >Initializing Game</div> <div>><input id = "inputField" type="text" id="name" name="name" autofocus></div></div>
<script src="./console_utils.js"></script>


<script src="/socket.io/socket.io.js"></script>
<script src="client.js"></script>
<script src="./render/webgl-spine.min.js"></script>
<script src="./render/webgl-shader.js"></script>
<script src="./render/webgl-sprite.js"></script>
<script src="./render/webgl-font.js"></script>



<script src="./tomatoEngine/tomato.main.js"></script>
<script src="./tomatoEngine/ttInputManager.js"></script>
<script src="./tomatoEngine/ttnode.js"></script>
<script src="./tomatoEngine/ttScene.js"></script>
<script src="./tomatoEngine/ttSprite.js"></script>
<script src="./tomatoEngine/ttLabel.js"></script>
<script src="./tomatoEngine/ttInputField.js"></script>
<script src="./tomatoEngine/ttPrincess.js"></script>


<script src="/game/InputScene.js"></script>
<script src="/game/GameScene.js"></script>

<script src="./gameMain.js"></script>

<script>

</script>
</body>

</html>